 # format {{.Disk}} as GPT, GUID Partition Table
 sgdisk -Z {{.Disk}}
{{range .Partitions}}
 sgdisk -n 0:0:{{.Size}} -t 0:{{.Type}} -c 0:"{{.Name}}" {{$.Disk}}{{end}}

 sgdisk -p {{.Disk}}

 # inform the OS of partition table changes
 partprobe {{.Disk}}
 fdisk -l {{.Disk}}
